<h3>Add Student</h3>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form method="post" action="">
            <div class="form-group">
                <label for = "name">Name</label>
                <input type= "text" id = "name" name = "name" value="" class="form-control"/>
            </div>
            <div class="form-group">
                <label for = "age">Age</label>
                <input type= "text" id = "age" name = "age" value="" class="form-control"/>
            </div>
            <div class="form-group">
                <label for = "rollno">Roll No</label>
                <input type= "text" id = "rollno" name = "rollno" value="" class="form-control"/>
            </div>
            <div class="form-group">
                <label for = "semester">Semester</label>
                <input type= "text" id = "semester" name = "semester" value="" class="form-control"/>
            </div>
            <div class="form-group">
                <label for = "email">Email</label>
                <input type= "text" id = "email" name = "email" value="" class="form-control"/>
            </div>
            <input type="submit" class="btn btn-success"/>
        </form> 
    </div>
    <div class="col-sm-3"></div>
</div>


